/*
 This file is part of the ZippyUI Framework

 Copyright (c) 2011 ZippyUI.com

 All rights reserved to zippyui.com
 This software cannot be used/copied/distributed without the express permission from staff at zippyui.com

 */

 background-color = #272822
 background-color-hover = #49483E
 selected-range-color = background-color-hover
 muted-text-color = #75715E
 text-color = #F8F8F2
 blue-text-color = #66D9EF
 red-text-color = #F92672

// background-color = #333
// background-color-hover = #555
// selected-range-color = #555
// muted-text-color = #aaa
// text-color = #fff
// blue-text-color = #07b
// red-text-color = #c22

 hover-day-color = blue-text-color
 hover-weekend-color = blue-text-color
 border-color = black
 selected-color = background-color-hover
 inside-border-color = muted-text-color
 border-radius = 0
 cell-padding = 4px
 cell-margin = 0

$dp-datepicker-width = 100%
$dp-datepicker-height = 100%  

$dp-datepicker-border-width = 1px
$dp-datepicker-border-style = solid
$dp-datepicker-border-radius = border-radius
$dp-datepicker-border-color = border-color

$dp-datepicker-header-background = background-color
$dp-datepicker-header-background-hover = background-color-hover
$dp-datepicker-header-padding = 8px
$dp-datepicker-header-color = blue-text-color
$dp-datepicker-header-over-background = inherit
$dp-datepicker-header-cell-border = 10px solid transparent

$dp-datepicker-background = backgrund-color

$dp-datepicker-cell-border-width = 0
$dp-datepicker-cell-border-style = solid
$dp-datepicker-cell-border-color = border-color
$dp-datepicker-cell-over-background = background-color
$dp-datepicker-cell-over-font-weight = inherit
$dp-datepicker-cell-over-color = inherit
$dp-datepicker-cell-padding = 0

$dp-datepicker-day-color = text-color
$dp-datepicker-day-bg = inherit
$dp-datepicker-day-margin = cell-margin
$dp-datepicker-day-padding = cell-padding
$dp-datepicker-day-border-radius = border-radius

$dp-datepicker-day-other-month-color = muted-text-color
$dp-datepicker-day-disabled-color = inherit
$dp-datepicker-day-other-month-bg = inherit
$dp-datepicker-day-disabled-bg = $dp-datepicker-day-other-month-bg
$dp-datepicker-day-in-range-bg = #E2F0FF

$dp-datepicker-font-size = 14px

$dp-datepicker-footer-color = blue-text-color
$dp-datepicker-footer-background-hover-color = background-color-hover
$dp-datepicker-inside-border-color = inside-border-color

$dp-datepicker-month-name-bg = inherit
$dp-datepicker-month-name-over-bg = background-color

$dp-datepicker-nav-bg = muted-color
$dp-datepicker-nav-over-bg = darken(muted-text-color, 10%)

$dp-datepicker-row-border-width = 1
$dp-datepicker-row-border-style = solid
$dp-datepicker-row-border-color = border-color

$dp-datepicker-today-font-weight = bold
$dp-datepicker-today-color = blue-text-color

$dp-datepicker-value-color = text-color
$dp-datepicker-value-font-weight = normal
$dp-datepicker-value-bg = selected-color
$dp-datepicker-value-selected-range-bg = selected-range-color

$dp-datepicker-week-day-names-border-width = 1px
$dp-datepicker-week-day-names-border-style = solid
$dp-datepicker-week-day-names-border-color = border-color
$dp-datepicker-week-day-names-background = $dp-datepicker-header-background
$dp-datepicker-week-day-names-color = muted-text-color
$dp-datepicker-week-day-name-border = none

$dp-datepicker-weekend-highlight-color = red-text-color
$dp-datepicker-weekend-highlight-value-color = red-text-color

$dp-datepicker-day-hover-color = hover-day-color
$dp-datepicker-weekend-hover-color = hover-weekend-color